.rule-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
}
.rule-number {
  align-self: normal;
  text-align: left;
}
.rule-content {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.action-icons {
  display: flex;
  gap: 8px;
}
.action-icons button {
  border: 0;
  padding: 5px;
  cursor: pointer;
}
