.condition {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.and {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
.rule-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.condition-type-input,
.request-input,
.rating-input {
  padding-bottom: 10px;
}
.rating-input input::-webkit-outer-spin-button,
.rating-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rating-input input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.button {
  cursor: pointer;
}
.buttons {
  padding-top: 10px;
  display: flex;
}
.buttons button:nth-child(2) {
  margin-left: auto;
}
